body{
    background: white url("images/midterm.png") no-repeat;
    background-size: 300px;
    background-position: 99%1%;
}
li a {
    color: palevioletred;
    background-color: beige;
    text-align: center;
}